body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.name__last {
    font-weight: bold;
}

.list__header {
    color: white;
    background: linear-gradient(180deg, #93a1abee 10%, #b4bcc3ee 70%, #aeb4bbee);
    text-shadow: 0 .05rem #000c;
    margin: 0;
    padding: .1rem .7rem;
    position: sticky;
    top: 0;
}

.name {
    border-bottom: 2px solid #efefef;
    padding: .7rem;
}

#example1,
#example2 {
    width: 200px;
    height: 300px;
    overflow: scroll;
    display: inline-block;
}
